{%extends 'Notes/base.html'%}
{%block content%}
<p><small>Last Modified: {{ note.last_modified }}</small></p>
    <h1>{{ note.title }}</h1>
    <p>{{ note.body }}</p>
    <p><small>Created at: {{ note.time_posted }}</small></p>
    <div class="btn-group">
        
        <a href="{% url 'note_update' note.pk %}" class="btn btn-sm btn-outline-warning">Edit</a>
        <form method="POST" action="{% url 'note_delete' note.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
</div>

{% endblock content%}