# Python
__pycache__/
*.py[cod]
*.env
*.log

# Django
db.sqlite3
*.sqlite3

# Environments
.env
venv/
ENV/
*.egg-info/

# VSCode/PyCharm
.vscode/
.idea/

# Static/media (if not managed)
staticfiles/
media/
