@login_required
def user_profile(request):
    notes = Note_data.objects.filter(user=request.user).order_by('-last_modified')[:5]
    total_notes = Note_data.objects.filter(user=request.user).count()
    profiler = get_object_or_404(profile_data, user=request.user)
    return render(request, 'user/user_profile.html',{
                      'notes': notes,
                   'total_notes': total_notes,
                   'profiler': profiler
    })

@login_required
def update_user(request):
    if request.method == 'POST':
        form = UpdateUserForm(request.POST, instance=request.user)
        if form.is_valid():
            form.save()
            messages.success(request, 'Profile successfully updated.')
            return redirect('profile')
    else:
        form = UpdateUserForm()        
    return render(request, 'user/update_user.html', {'form': form})







{% extends 'Notes/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{user.profile_data.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/froom-data">
        {% csrf_token %}
        <fieldset>
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary w-100 mt-3">Update</button>
    </form>
  </div>
{% endblock %}
